* {
    font-family: 'Lato', sans-serif;
}

body {
    height: 100vh;
    background-image: linear-gradient(
        to bottom,
        #32a093 0%,
        #32a093 15%,
        #dfe0d9 15%,
        #dfe0d9 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
}

#root {
    width: 80%;
    min-width: 900px;
    height: 95%;
    background-color: #fff;
    display: flex;
}

/* utilities */
.h-35 {
    height: 35px;
}

.fs-10 {
    font-size: 10px;
}

.fs-12 {
    font-size: 12px;
}

.p-5rem {
    padding: 5rem;
}

.bg-light-blue {
    background-color: #a2dffe;
}

.font-color-1 {
    color: #a2dffe;
}

.user-photo {
    width: 50px;
    height: 50px;
}

.notify-bell {
    width: 40px;
    height: 40px
}

.bg-main-middle {
    background-image: url("../img/mine.jpg");
}

.mess-received {
    background-color: #fff;
    width: 300px;
    border-radius: 10px;
    padding: .5rem .5rem .2rem 1rem;
}

.mess-sended {
    background-color: #ddfabf;
    width: 300px;
    align-self: flex-end;
    border-radius: 10px;
    padding: .5rem .5rem .2rem 1rem;
}