* {
    font-family: 'Lato', sans-serif;
}

body {
    height: 100vh;
    background-image: linear-gradient(
        to bottom,
        #32a093 0%,
        #32a093 15%,
        #dfe0d9 15%,
        #dfe0d9 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
}

i,
.contact {
    cursor: pointer;
}

#root {
    width: 80%;
    min-width: 900px;
    height: 95%;
    background-color: #fff;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 40px;
    overflow: hidden;
}

/* utilities */
.h-35 {
    height: 35px;
}

.fs-10 {
    font-size: 10px;
}

.fs-12 {
    font-size: 12px;
}

.fs-22 {
    font-size: 22px;
}

.px-y {
    padding: 3rem 5rem;
}

.mx-y {
    margin: 0 2rem;
}

.bg-light-blue {
    background-color: #a2dffe;
}

.font-color-1 {
    color: #a2dffe;
}

.h-50px{
    height: 50px;
}

.user-photo {
    width: 50px;
    height: 50px;
}

.notify-bell {
    width: 40px;
    height: 40px
}

.border-custom {
    border-radius: 8px;
    border: .1px solid rgb(244, 244, 244);
}

.chat-section {
    scroll-behavior: smooth;
}

.scroll {
    overflow: scroll;
}

.bg-main-middle {
    background-image: url("../img/mine.jpg");
}

.mess-date {
    text-align: end;
}

/* chat messages section */
.received {
    background-color: #fff;
    width: 300px;
    border-radius: 10px;
    padding: .5rem .5rem .2rem 1rem;
}

.sent {
    background-color: #ddfabf;
    width: 300px;
    align-self: flex-end;
    border-radius: 10px;
    padding: .5rem .5rem .2rem 1rem;
}

/* effect section */
.contact {
    transition: background-color .5s ease;
}

.contact:hover {
    background-color: lightgrey;
}

.contact.active {
    background-color: lightgrey;
}